
    body {
      font-family: Arial, sans-serif;
      background-color: #d69797;
      padding: 20px;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      max-width: 500px;
      margin: auto;
    }

    h2 {
      text-align: center;
      color: #333;
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
    }

    input, select, textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      margin-top: 20px;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      background-color: #007BFF;
      color: white;
      cursor: pointer;
    }

    button[type="reset"] {
      background-color: #0a0404;
      margin-left: 10px;
    }

    button:hover {
      opacity: 0.5;
    }

    #comentarios, #direccion {
        resize: none;
        field-sizing: content;
}

.password-container {
        position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.invalid {
  background-image: linear-gradient(to right, rgb(238, 33, 67), rgb(177, 69, 57));
  color: white;
}

.valid {
  background-color: green;
  color:white;
}
